<?xml version="1.0"?>
<robot name="classification_ball">
    <link name="ball">
        <visual>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/ball_task_base_square.obj" scale="0.35 1.2 1"/>                                   
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/ball_task_base_square.obj" scale="0.35 1.2 1"/> 
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
