<?xml version="1.0"?>
<robot name="industreal_rectangular_peg_16mm">
    <link name="industreal_rectangular_peg_16mm">
        <visual>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/industreal_rectangular_peg_16mm.obj" scale="2 2 2" />
                <!-- <mesh filename="../mesh/TVB_mesh/power_2prongs_shape1_plug.obj"/> -->
            </geometry>
            <material name="Blue">
                <color rgba="0.3 0.3 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/industreal_rectangular_peg_16mm.obj" scale="2 2 2"/>
                <!-- <mesh filename="../mesh/TVB_mesh/power_2prongs_shape1_plug.obj"/> -->
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
