<?xml version="1.0"?>
<robot name="box_industreal_tray_insert_round_peg_16mm">
    <link name="box_industreal_tray_insert_round_peg_16mm">
        <visual>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/industreal_tray_insert_round_peg_16mm.obj"/>
            </geometry>
            <material name="LightRed">
                <color rgba="1 0.3 0.3 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/industreal_tray_insert_round_peg_16mm.obj"/>
            </geometry>
            <sdf resolution="128"/>
        </collision>
    </link>
</robot>
