<?xml version="1.0"?>
<robot name="industreal_gear_medium">
    <link name="industreal_gear_medium">
        <visual>
            <geometry>
                <!-- <mesh filename="../mesh/industreal_gears/industreal_gear_medium_re.obj" scale="2 2 2"/> -->
                <mesh filename="../mesh/TVB_mesh/gear_medium_origin_update_Mar21.obj" scale="1.96 1.96 1.96"/>
            </geometry>
            <!-- <material name="Blue">
                <color rgba="0.3 0.3 1 1"/>
            </material> -->
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/gear_medium_origin_update_Mar21.obj" scale="1.96 1.96 1.96"/>
                <!-- <mesh filename="../mesh/TVB_mesh/gear_medium_origin_update_Mar21.obj" scale="2 2 2"/> -->
            </geometry>
            <sdf resolution="32"/>
        </collision>
    </link>
</robot>