<?xml version="1.0"?>
<robot name="industreal_gear_small">
    <link name="industreal_gear_small">
        <visual>
            <geometry>
                <!-- <mesh filename="../mesh/industreal_gears/industreal_gear_small.obj"/> -->
                <!-- <mesh filename="../mesh/industreal_gears/gear_small_center.obj" scale="2 2 2"/> -->
                <mesh filename="../mesh/TVB_mesh/gear_small_origin_Mar21.obj" scale="2 2 2"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <!-- <mesh filename="../mesh/industreal_gears/gear_small_center.obj" scale="2 2 2"/> -->
                <!-- <mesh filename="../mesh/industreal_gears/industreal_gear_small.obj"/> -->
                <mesh filename="../mesh/TVB_mesh/gear_small_origin_Mar21.obj" scale="2 2 2"/>
            </geometry>
            <sdf resolution="32"/>
        </collision>
    </link>
</robot>