<?xml version="1.0"?>
<robot name="industreal_gear_large">
    <link name="industreal_gear_large">
        <visual>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/manifeel_gear_large.obj" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/manifeel_gear_large.obj" scale="1 1 1"/>
            </geometry>
            <sdf resolution="32"/>
        </collision>
    </link>
</robot>