<?xml version="1.0"?>
<robot name="industreal_gear_small">
    <link name="industreal_gear_small">
        <visual>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/manifeel_gear_small.obj" scale="1 1 1"/>
            </geometry>
            <material name="gear_metal">
                <color rgba="0.69 0.69 0.69 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/manifeel_gear_small.obj" scale="1 1 1"/>
            </geometry>
            <sdf resolution="32"/>
        </collision>
    </link>
</robot>