<?xml version="1.0"?>
<robot name="power_plug_medium">
    <link name="power_plug_medium">
        <visual>
            <!-- <origin rpy="0 0 1.5708" xyz="0 0 0"/> -->
            <geometry>
                <mesh filename="../mesh/TVB_mesh/power_plug.obj"/>
            </geometry>
            <material name="plug_black">
                <color rgba="0.17 0.17 0.17 1.0"/>
            </material>
        </visual>
        <collision>
            <!-- <origin rpy="0 0 1.5708" xyz="0 0 0"/> -->
            <geometry>
                <mesh filename="../mesh/TVB_mesh/power_plug.obj"/>
            </geometry>
            <!-- <sdf resolution="256"/> -->
            <sdf resolution="128"/>
        </collision>
    </link>
</robot>
