<?xml version="1.0"?>
<robot name="power_plug_medium">
    <link name="power_plug_medium">
        <visual>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/power_plug_mediun_reori.obj"/>
            </geometry>
            <material name="Blue">
                <color rgba="0.3 0.3 1 1"/>
                <!-- <color rgba="1 0.6 0.6 1"/> -->
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/power_plug_mediun_reori.obj"/>
            </geometry>
            <!-- <sdf resolution="256"/> -->
            <sdf resolution="128"/>
        </collision>
    </link>
</robot>
