<?xml version="1.0"?>
<robot name="USB_socket">
    <link name="USB_socket">
        <visual>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/USB_socket_1port.obj"/>                  
            </geometry>
            <material name="LightRed">
                <color rgba="1 0.3 0.3 1"/>
            </material>
            <!-- <material name="Black">
                <color rgba="0.0 0.0 0.0 1"/>
            </material> -->
            <!-- <material name="DeepRed">
                <color rgba="0.6 0 0 1"/>
            </material> -->
            <!-- <material name="GoldenYellow">
                <color rgba="1 0.84 0 1"/>
            </material> -->
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/TVB_mesh/USB_socket_1port.obj"/>                
            </geometry>
            <sdf resolution="128"/>
        </collision>
    </link>
</robot>
